{% extends "base.html" %}

{% block body %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
  
  <style>
    .highlight {
      padding: 3px;
      margin-bottom: 14px;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      border-radius: 4px;
    }

    .highlight:hover {
      cursor:pointer;
    }
    #sortable { list-style-type: none; margin: 0; padding: 0; }
  </style>
  <script src="/sql_dashboards/static/jquery-ui.js"></script>
  <script>
  var getWidgetIds = function () {
    var dashboard_widget_ids = [];
    $("#sortable li[id^='widget']").each(function() {
      dashboard_widget_ids.push($(this).attr('id').split("_")[1]);
    });
    return dashboard_widget_ids;
  }
  $(function() {
    $( "#sortable" ).sortable({
      revert: true,
      update:function(event, ui) {
        $.ajax({
          url:"/sql_dashboards/dashboard/{{dashboard.id}}/change_order?order=" + getWidgetIds().join(","),
        });
      }
    });
    $( "ul, li, div" ).disableSelection();

  });
  function reloadQuery(query_id)
  {
    $("#id_query_" + query_id).hide();
    $.ajax({
      url:"/sql_dashboards/query/to_highcharts/" + query_id,
      statusCode:{
        200:function(data) {
          $("#id_query_" + query_id).show();
          $("#id_query_" + query_id).html(data);
        },
        202:function(data) {
          $("#id_query_" + query_id).show();
          $("#id_query_" + query_id).html("<p class=\"text-danger\"><b>Error : " + data + "</b></p>");
        }
      }
    })
  }
  </script>
 
<div class="container">
  {% if dashboard_id %}
  <ul id="sortable" class="col-lg-12">
    {% for query in dashboard.queries %}
    <li id="widget_{{query.id}}" class="ui-state-default col-lg-{{dashboard.getColumnSize}}" style="floaf:left;">
      <div class="highlight text-left">
      <a href="/sql_dashboards/query/edit/{{query.id}}">Edit</a> | 
      <a onclick="reloadQuery({{query.id}})" href="#" onclick="reloadQuery({{query.id}})">Reload</a> |
      {% if request.user == dashboard.creator %}<a href="/sql_dashboards/dashboard/{{dashboard.id}}/delete_query/{{query.id}}">Delete</a>{% endif %}
        <div id="id_query_{{query.id}}" class="highlight">
          {{query.toHighcharts}}
        </div>
      </div>
    </li>
    {% endfor %}
    <li class="ui-state-default col-lg-{{dashboard.getColumnSize}}" style="floaf:left;">
      <form action="{{request.path}}" method="post">{% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
          <button type="submit" name="add" class="btn btn-primary">Add</button>
        {% endbuttons %}
      </form>
    </li>
  </ul>
  {% else %}
  <div class="row">
    <div class="col-lg-4">
      <form action="{{request.path}}" method="post">{% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
          <button type="submit" name="add" class="btn btn-primary">Create Dashboard</button>
        {% endbuttons %}
      </form>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
