{% if query_filter %}
<h3><a href="/sql_dashboards/query/">Queries</a> (<a href="/sql_dashboards/query/add">Add</a>)</h3>
<div class="col-lg-6">
  <table class="table table-condensed">
    <tr><th>Title</th><th>Db</th><th>Action</th></tr>
  {% for obj in query_filter %}
    <tr>
      <td><a href="/sql_dashboards/query/edit/{{obj.id}}">{{obj.title}}</a></td>
      <td>{{obj.db}}</td>
      <td><a href="/sql_dashboards/query/delete/{{obj.id}}" onclick="return confirm('Sure you want to delete {{obj.title|escapejs}}?')">Delete</a></td>
    </tr>
  {% endfor %}
  </table>
</div>
<div class="col-lg-2">
  {{ query_filter.form.as_p }}
</div>
{% else %}
<h3><a href="/sql_dashboards/query">Voir toutes les queries</a></h3>
{% endif %}