<style>
.listing ul{
  list-style-type: circle;
  padding:0 0 0 10;
  font-size: 12px;
}
.listing .selected {
  font-weight: bold;
}
</style>
{% load pagination_tags %}

{% if query_filter %}
{% autopaginate query_filter.qs 10 as filter_list %}
<h3><a href="{{SQL_DASHBOARDS_PREFIX}}/query/">Queries</a> <a class="btn btn-success btn-sm" href="{{SQL_DASHBOARDS_PREFIX}}/query/add"><span class="glyphicon glyphicon-plus"></span> Add</a></h3>
<div class="col-lg-8">
  <table class="table table-condensed">
    <tr><th>Title</th><th>Creator</th><th>Db</th><th>Action</th></tr>
  {% for obj in filter_list %}
    <tr>
      <td><a href="{{SQL_DASHBOARDS_PREFIX}}/query/edit/{{obj.id}}">{{obj.title}}</a></td>
      <td>{{obj.creator}}</td>
      <td>{{obj.db}}</td>
      <td><a class="btn btn-danger btn-xs" href="{{SQL_DASHBOARDS_PREFIX}}/query/delete/{{obj.id}}" onclick="return confirm('Sure you want to delete {{obj.title|escapejs}}?')"><span class="glyphicon glyphicon-minus"></span> Delete</a></td>
    </tr>
  {% endfor %}
  </table>
  {% paginate %}
</div>
<div class="col-lg-2 well listing" style="overflow: hidden;">
  <form action="" method="get">
    <input type="submit" class="btn btn-primary btn-sm" value="Filter"/>
    {{ query_filter.form.as_p }}
  </form>
</div>
{% else %}
<h3><a href="{{SQL_DASHBOARDS_PREFIX}}/query">Voir toutes les queries</a></h3>
{% endif %}